.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#username, #password, #email {
  text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px auto;
}
